@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

body {
  background-color: #ED0049;
}

.header {
  background-color: #0f308c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
  margin-top: 20px;
}

.header .nav-links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #eceff1;
  text-decoration: none;
  line-height: .3;
}

.header .nav-links li a i {
  margin-bottom: 5px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #ffbc0e;
}

.header .btn button {
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #ED0049;
  color: #ffbc0e;
  transform: scale(1.5);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  margin-top: 10px;
  font-size: 18px;
}

p {
  margin-top: 5px;
  font-size: 14px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

.product-card span {
  font-weight: bold;
  color: #555;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
